<div class="page-header">
    <h1>
        List of Notes
        <div class="btn-group pull-right">
            <a role="button" class="btn btn-default" (click)="openEmptyFormNote()">New Note</a>
        </div>
    </h1>      
</div>

<div *ngFor="let note of notes" class="panel panel-notepad">
    <div class="panel-heading">
        <strong>{{ note.title }}</strong>
        <span class="pull-right">
            <strong><em>{{ note.category.label }}</em></strong>
        </span>
    </div>
    <div class="panel-body">{{ note.content }}</div>
    <div class="panel-footer">
        <a role="button" class="btn btn-primary" (click)="openFormNote(note)">
        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>  Edit</a>
        <a role="button" class="btn btn-danger" (click)="openDeleteNote(note)">
        <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>  Delete</a>
        <em class="pull-right">{{ note.date.timestamp * 1000 | date }}</em>
    </div>
</div>

<modal formNote #formNote>
    <modal-header>
        <a role="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </a>
        <div *ngIf="modNote.id == 0">
            <h4 class="modal-title">New Note</h4>
        </div>
        <div *ngIf="modNote.id > 0">
            <h4 class="modal-title">Edit Note</h4>
        </div>
    </modal-header>
    <modal-body>
        <form [formGroup]="noteForm">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" formControlName="title" 
                    id="title" [(ngModel)]="modNote.title">
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" formControlName="content" rows="5"
                    id="content" [(ngModel)]="modNote.content"></textarea>
            </div>

            <div class="form-group">
                <label for="category">Choose Category</label>
                <select class="form-control" formControlName="category"
                    [ngModel]="modNote.category" (ngModelChange)="onChangeCat($event)">
                    <option [ngValue]="category" *ngFor="let category of categories"
                        [selected]="modNote.category.label == category.label">
                        {{ category.label }}</option>
                </select>
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <a role="button" class="btn btn-default" data-dismiss="modal" 
        (click)="dismissFormNote()">Cancel</a>
        <a role="button" class="btn btn-primary" (click)="saveNote()">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>  Save</a>
    </modal-footer>
</modal>

<modal deleteNote #deleteNote>
    <modal-header>
        <a role="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </a>
        <h4 class="modal-title">Delete Note</h4>
    </modal-header>
    <modal-body>
        Are you sure that you want to delete this note ?
    </modal-body>
    <modal-footer>
        <a role="button" class="btn btn-default" data-dismiss="modal" 
        (click)="dismissDeleteNote()">Cancel</a>
        <a role="button" class="btn btn-danger" (click)="delNote()">
        <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>  Delete</a>
    </modal-footer>
</modal>